/* common shared styles*/


/* header related styles*/
.banner{
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    color: white;
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    padding: ;
    justify-content: center;
}

.banner-title{
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
}

.banner-heading{
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;

}

/* main reated styles*/

.discout{
    justify-content: center;
}


#discount-percent{
    color: red;
    font-size: 88px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

#discount-description{
    color: red;
    text-align: center;
}

#discount-title{
    text-align: center;
    font-size: 70px;
}

#midnight-party-title{
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}

.midnight-party{
    display: flex;
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin-top: 30px;
}

#midnight-party-para{
    color: white;
}

.address{
    background-color: antiquewhite;
    text-align: center;
    width: 800px;
    height: 400;
    justify-content: center;
    font-size: 40px;
}

#red{
    color: red;
}

#join-now-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

.offers{
    display: flex;
    gap: 40px;
    width: 1000px;
    height: 400px;
    margin: 100px ;
}

.happy-people-pic{
    border: red solid 15px;
    border-radius: 463px;
}

.holidays-offers{
    text-align: center;
}

#fifty-parcnt-offers{
    font-size: 60px;
}

.portfolio{
    width: 1400px;
    height: 1200px;
    justify-content: center;
    margin: 50px 50px;
}

#portfolio-heading{
    font-size: 60px;
}

.subscribe{
    width: 1220px;
    height: 416px;
border: 1px red solid;
background-color: rgba(255, 0, 0, 0.05);
text-align: center;
padding: 100px;
margin: 120px;
}

#subscribe-heading{
    font-size: 60px;
}

#email{
    width: 380px;
    height: 70px;
    border-radius: 50px 0 0 50px;
    color: rgba(7, 2, 17, 0.30);
}

#subscribe{
    width: 180px;
    height: 75px;
    border-radius: 0 50px 50px 0;
    background-color: red;
    color: white;
}
    
/* footer related styles*/